@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");


:root{
    --primary-color-pink: #fe6dd4;
    --primary-color-purple: #a06af4;
    --primary-color-blue: #03b4cf;
    --primary-color-yellow: #f9c601;
    --font-family: 'Poppins', sans-serif;
    --color-blue-light: #dae2f4;
    --color-yellow-light: #fdfcc4;
    --color-gray-light: #f5f5f5;
    --color-gray: rgb(153, 153, 153);
  }


.color-m-gray {
  color: var(--color-gray) !important;
}

.align-items-center{
    align-items: center !important;
}
.rounded-15{
    border-radius: 15px !important;
  }

  .bg-transparent{
    background-color: transparent !important;
  }